.card-container{
    height: 100%;
}

.image-container{
    width: 100%;
    background-repeat: no-repeat;
}

.text-container{
    height: 65%;
    color: #708090;
}

.header{
    margin-top: 8px;
    margin-left: 20px;
    height: 19%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.header-heading{
    color: #07212c;
    font-weight: 400;
    font-size: 1.3em;
}

.header-desc{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    text-align: left;
}

.desc{
    font-family: 'Roboto', sans-serif;
    height: 31%;
    font-size: 0.83em;
    font-weight: 600;
}

.desc2{
    height: 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.83em;
    font-weight: 600;
}

.btn-container{
    margin-top: 25px;
}

.btn{
    height: 10%;
    background-color: #fd7973;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 8px;
}

.desc-section{
    height: 24%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc-section-span{
    margin: 0 20px;
}

.desc-section2{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}