.property-card-container{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-card-image{
    height: 160px;
    border-radius: 5%;
}
.property-card-text{
    height: 170px;
    width: 63%;
}
.property-card-desc{
    height: 58%;
    text-align: left;
    padding-left: 20px;
}
 .property-card-heading{
    color: #07212c;
    font-size: 1.3em;
 }

 .property-card-address{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    text-align: left;
 }

 .property-card-desc-year{
    margin-top: 5px;
    width: 58%;
    color: #fd7973;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
 }

.property-card-detail{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 25px;
    margin-top: 10px ;
    height: 37%;
    display: flex;
    font-weight: 700;
    font-size: 0.84em;
}

 .property-card-year{
    margin-top: 6px;
    width: 33%;
    height: 100%;
 }

 .property-card-area{
    margin-top: 6px;
    padding-left: 12px;
    margin-right: 9px;
    width: 33%;
    height: 100%;
}

.property-card-nla{
    margin-top: 6px;
    padding-left: 12px;
    width: 33%;
    height: 100%;
}