.property-card-container{
    height: 170px;
    display: flex;

}

.property-card-image{
    background-color: #e2e2e2;
    height: 170px;
    width: 37%;
    border-radius: 5%;
}
.property-card-text{
    height: 170px;
    width: 63%;
}
.property-card-desc{
    height: 58%;
    text-align: left;
    padding-left: 20px;
}
 .property-card-heading{
    color: #07212c;
    font-size: 1.5em;
 }

 .property-card-address{
    margin: 5px 0;
    font-size: 0.9em;
 }

 .property-card-desc-year{
    width: 60%;
    color: #fd7973;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
 }

.property-card-detail{
    text-align: left;
    padding-left: 25px;
    margin-top: 10px ;
    height: 37%;
    display: flex;
    font-weight: 700;
    font-size: 0.9em;
}

 .property-card-year{
    width: 33%;
    height: 100%;
 }

 .property-card-area{
    padding-left: 8px;
    width: 33%;
    height: 100%;
}

.property-card-nla{
    padding-left: 8px;
    width: 33%;
    height: 100%;
}