.world-container{
    margin: 90px auto;
    height: 100%;
    padding: 10px 88px;
}

.world-title{
    font-weight: 300;
    font-size: 40px;
    color: #246781;
}

.dash-2{
    font-size: 38px;
    font-weight: 900;
    position: relative;
    top: -22px;
}

