.slider-container{
    margin-top: 50px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 88px;
}

.slider-title{
    font-weight: 300;
    font-size: 40px;
    color: #246781;
}

.dash-2{
    font-size: 38px;
    font-weight: 900;
    position: relative;
    top: -22px;
}

.slider-btn{
    border-radius: 50%;
    height: 65px;
    background-color: #efefef;
    border: 1px solid #fd7973;
    color: #fd7973;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
}

.carousel-item{
    width: 20px;
}
