.searchbar-container{
    border: 1px solid red;
    width: 70vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    
}
.form-group{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.form-field{
    border: 1px solid red;
    width: 24%;
}

.label{
    margin: 12px 8px;
}