.searchbar-container{
    border-radius: 3px;
    width: 75vw;
    height: 85px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.form-field{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label{
    color: #07212c;
    font-weight: 500;
    font-size: 1.05em;
    padding-left: 30px;
}

.input{
    padding-left: 25px;
    position: relative;
    top: -1px;
    
}

input{
    width: 95%;
    border: none;
    margin-left: 3px;
}

select, input:focus {
    outline:none;
}

.input select{
    width: 90%;
    border: none;
    font-size: 0.9em;
    color: #b2bfc2;
}

::placeholder {
    font-size: 1em;
    color: #b2bfc2;
  }

.search-btn{
    width: 10%;
    color: white;
    font-size: 2.4em;
    border: none;
    background-color: #FD6159;
}






