.collection-container{
    margin: 120px auto;
    height: 100%;
    padding: 10px 88px;
}

.collection-title{
    font-weight: 300;
    font-size: 40px;
    color: #07212C;
}

.dash-2{
    font-size: 38px;
    font-weight: 900;
    position: relative;
    top: -22px;
}
