.country-card-container{
    height: 550px;
    width: 350px; 
    margin-top: 35px;
}

.country-image-container{
    background-color: #e2e2e2;
    height: 80%;
}

.country-text-container{
    padding-left: 40px;
    height: 15%;
    background-color: #EEF1EF;
    padding-top: 20px;

}

.country-card-header-heading{
    font-weight: 700;
    font-size: 28px;
}