.country-card-container{
    height: 550px;
    width: 90%;
}

.country-image-container{
    height: 80%;
}

.country-text-container{
    position: relative;
    height: 20%;
    padding-left: 30px;
    color: #07212C;
    background-color: #EEF1EF;
}

.country-card-heading{
    position: relative;
    top: 20px;
    font-weight: 600;
    font-size: 22px;
}

.country-card-desc{
    position: relative;
    top: 20px;
    color: #708090;
    font-size: 14px;
    font-weight: 500;
}